@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif !important;
}

.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    margin-right: 6px;
    background: #efefef;
    font-size: 35px;
    font-weight: bold;
    height: 70px;
    width: 70px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 5px;
    cursor: default;
}

.tile.filled {
    border: 2px solid #858585;
}

.game-row {
    display: flex;
}

.game-rows {
    display: grid;
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
}

.vl-match {
    background: #6aaa64;
    border: 2px solid #6aaa64 !important;
    color: white;
}

.vl-partial {
    background: #c9b458;
    border: 2px solid #c9b458 !important;
    color: white;
}

.vl-incorrect {
    background: #86888a;
    border: 2px solid #86888a !important;
    color: white;
}

#word-of-the-day {
    background: #151515;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    display: inline-flex;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 50px;
    font-weight: bold;
}

.hidden-word {
    visibility: hidden;
}

.modal-title {
    text-align: center;
}

#statistics {
    display: flex;
    margin-bottom: 10px;
}

.statistic-container {
    flex: 1;
}

.statistic-container .statistic {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.05em;
    font-variant-numeric: proportional-nums;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.statistic-container .label {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.h4 {
    font-family: 'Roboto', sans-serif;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}