@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif !important;
}

.game {
    height: 100vh;
}

.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    margin-right: 6px;
    background: #efefef;
    font-size: 35px;
    font-weight: bold;
    height: 70px;
    width: 70px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 5px;
    cursor: default;
}

.tile.filled {
    border: 2px solid #858585;
}

.game-row {
    display: flex;
}

.game-rows {
    display: grid;
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
}

.vl-match {
    background: #6aaa64;
    border: 2px solid #6aaa64 !important;
    color: white;
}

.vl-partial {
    background: #c9b458;
    border: 2px solid #c9b458 !important;
    color: white;
}

.vl-incorrect {
    background: #86888a;
    border: 2px solid #86888a !important;
    color: white;
}

#word-of-the-day {
    background: #151515;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    display: inline-flex;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 50px;
    font-weight: bold;
}

.hidden-word {
    visibility: hidden;
}

.modal-title {
    text-align: center;
}

#statistics {
    display: flex;
    margin-bottom: 10px;
}

.statistic-container {
    flex: 1;
}

.statistic-container .statistic {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.statistic-container .label {
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.h4 {
    font-family: 'Roboto', sans-serif;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.time-remaining {
    font-size: 160%;
}

.guess-distribution {
    display: inline-flex;
    width: 90%;
    margin-bottom: 5px;
}

.guess-distribution span {
    padding: 10px;
}

.guess-distribution div {
    background: #86888a;
    color: white;
    padding: 10px;
    min-width: 7%;
}

.top-bar {
    background: #6aaa64 !important;
}

.key {
    width: 50px;
    height: 70px;
    margin: 3px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 20px;
    background-color: #d3d6da;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.row1 {
    margin-top: 50px;
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.row2 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.row3 {
    flex: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#big {
    width: 100px;
}

.dark {
    background: #121213 !important;
}

.dark .tile {
    background: #121213;
    border: 2px solid #3a3a3c;
    color: white;
}

.dark .tile.filled {
    border: 2px solid #565758;
}

.dark .vl-match {
    background: #538d4e;
    border: 2px solid #538d4e !important;
}

.dark .vl-partial {
    background: #b59f3b;
    border: 2px solid #b59f3b !important;
}

.dark .vl-incorrect {
    background: #3a3a3c;
    border: 2px solid #3a3a3c !important;
}

.high-contrast .vl-match {
    background: #f5793a;
    border: 2px solid #f5793a !important;
}

.high-contrast .vl-partial {
    background: #85c0f9;
    border: 2px solid #85c0f9 !important;
}

.darkm .modal-content {
    background: #121213 !important;
    color: white;
}

.k-vl-match {
    background: #6aaa64;
    color: white;
}

.k-vl-partial {
    background: #c9b458;
    color: white;
}

.k-vl-incorrect {
    background: #86888a;
    color: white;
}

.dark .k-vl-match {
    background: #538d4e;
}

.dark .k-vl-partial {
    background: #b59f3b;
}

.dark .k-vl-incorrect {
    background: #3a3a3c;
}

.high-contrast .k-vl-match {
    background: #f5793a;
}

.high-contrast .k-vl-partial {
    background: #85c0f9;
}